<div class="main-container">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <h6><b>{{operation}} {{category.name}}</b></h6>

  <form (ngSubmit)="onSubmit()" #categoryDetailForm="ngForm" class="content-pane">

    <mat-form-field class="normal-width">
      <input matInput placeholder="Name" required name="name"
        [(ngModel)]="category.name" #name="ngModel"/>
      <mat-error *ngIf="name.invalid">Name is required</mat-error>
    </mat-form-field>  
    
    <mat-form-field class="normal-width">
      <input matInput placeholder="Description" required name="description"
        [(ngModel)]="category.description" #description="ngModel"/>
      <mat-error *ngIf="description.invalid">Description is required</mat-error>
    </mat-form-field>  

    <div class="placeholder">Interval</div>
    <mat-radio-group name="interval" [(ngModel)]="category.interval">
      <mat-radio-button value="MONTHLY">Monthly</mat-radio-button>&nbsp;
      <mat-radio-button value="YEARLY">Yearly</mat-radio-button>&nbsp;
      <mat-radio-button value="COMPLETE">Complete</mat-radio-button>
    </mat-radio-group>
  </form>
  

  <div class="container-footer">
    <button role="button" class="btn btn-default btn-circle" (click)="goBack()"><i
        class="fa fa-undo fa-lg"></i></button>
    <button role="button" class="btn btn-default btn-circle" (click)="saveCategory()"
      [disabled]="!categoryDetailForm.form.valid"><i class="fa fa-save fa-lg"></i></button>
  </div>
</div>