.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.transact {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: inherit;
}

.transact-pane {
  flex-grow: 1;
  overflow-y: auto;
  height: 30%;
}

.list-transactions-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.mat-column-date{
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-amount{
  width: 10%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.mat-column-transactionType{
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-remarks{
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
