.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.transact {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: inherit;
}

.transact-pane {
  flex-grow: 1;
  overflow-y: auto;
  height: 40%;
}

.list-transactions-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.date-column {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.remarks-column {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;   
}

.transact-type-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.transact-type-box {
  height: 15vh;
  width: 15vh;
  margin: 1px;
  padding: 2px;
  text-align: center;
  background-color: dimgray;
  font-size: 0.8em;
  color: aliceblue;
}

.transact-type-box-decription {
  font-size: 0.75em;
  color:paleturquoise
}

.transactions-list-text {
  font-size: 0.8em;
  color: dimgray;
}
