.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.transact {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: inherit;
}

.transact-pane {
  flex-grow: 1;
  overflow-y: auto;
  height: 30%;
}

.list-transactions-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  background-color:lightgreen;
}
