<div class="category-detail-container">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>
  <div>
    <h6><b>{{ category.name}} » Details</b></h6>
  </div>
  <div *ngIf="category" class="category-detail-pane">
    <div>
      <div class="font-weight-bold">Id</div>
      {{ category.id}}
    </div>
    <br>
    <div>
      <div class="font-weight-bold">Name</div>
      {{ category.name}}
    </div>
    <br>
    <div>
      <div class="font-weight-bold">Description</div>
      {{ category.description}}
    </div>
  </div>
  <div class="category-detail-footer">
    <button role="button" class="btn btn-success btn-sm" (click)="viewAccounts()">View Accounts</button>
    <button role="button" class="btn btn-primary btn-sm" (click)="editDetails()">Edit Details</button>
    <button role="button" class="btn btn-danger btn-sm">Delete Category</button>
  </div>
</div>