.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.analyze {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.analyze-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.caption {
  background-color: silver;
  color: black;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (max-width: 750px) {

  .report-card {
    margin: 1px;
    padding: 4px;
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    flex-direction: column;
  }  
}

@media all and (min-width: 750px) {
  .report-card {
    margin: 1px;
    padding: 4px;
    display: flex;
    width: 18rem;
    background-color: black;
    color: white;
    flex-direction: column;
  }  
}

.analyze-footer {
  background-color: silver;
  padding: 3px;
}

/*Classes for Card*/
.card-caption {


}

.card-content {
  font-size: 0.70em;
  flex-grow: 1;
  color: darkseagreen;


}

.card-buttons {


}
