<div class="analyze">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <div *ngIf="reports" class="analyze-pane">
    <div class="caption">
      <h6><b>Reports</b></h6>
    </div>
    <div class="cards">
      <div class="report-card" *ngFor="let report of reports">
        <div class="card-caption">{{report.name}}</div>
        <div class="card-content">
          <p >{{report.description}}</p>
        </div>
        <div class="card-buttons">
          <div>
            <!--<a routerLink="/view-report/{{report.id}}" class="btn btn-default btn-circle"><i class="fa fa-play"></i></a>
            <a routerLink="/edit-report/{{report.id}}" class="btn btn-default btn-circle ml-1"><i class="fa fa-gear"></i></a>-->

            <button role="button" class="btn btn-default card-button" (click)="executeReport(report)"><i class="fa fa-play"></i></button>
            <button role="button" class="btn btn-default card-button ml-1" (click)="configureReport(report)"><i class="fa fa-cog"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="analyze-footer">
    <button role="button" class="btn btn-default btn-circle" (click)="createReport()"><i class="fa fa-plus"></i></button>
  </div>
</div>