.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.analyze {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.analyze-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1px;
}

.caption {
  /*background-color: #222930;*/
  /*color: white;*/
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (max-width: 750px) {

  .report-card {
    margin: 1px;
    padding: 4px;
    display: flex;
    /*width: 100%;*/
    width: 32.6vw;
    height: 32.6vw;
    background-color: rgb(52, 73, 94);
    color: white;
    flex-direction: column;
  }  
}

@media all and (min-width: 750px) {
  .report-card {
    margin: 1px;
    padding: 4px;
    display: flex;
    width: 18rem;
    /*background-color: rgb(24, 24, 37);*/
    /*background-color: #222930;*/
    background-color: rgb(52, 73, 94);
    color: white;
    flex-direction: column;
  }  
}

.analyze-footer {
  padding: 3px;
  background-color: rgb(253, 227, 167);
  border-style: solid;
  border-color: lightgray;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

/*Classes for Card*/
.card-caption {
  color: #E9E9E9;
}

.card-content {
  font-size: 0.70em;
  flex-grow: 1;
  color: rgb(249, 180, 45);
}

.card-buttons {


}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  border-width: 3px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  border-color: darkgray;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle:hover {
  background-color: rgb(249, 180, 45);
}

.card-button {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  /*border-color: white;*/
  background-color: darkgrey;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.card-button:hover {
  background-color: wheat;
}

