.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.analyze {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.analyze-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.caption {
  background-color: silver;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.report-card {
  margin: 1px;
  padding: 4px;
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
}

.analyze-footer {
  background-color: silver;
  padding: 3px;
}

/*Classes for Card*/
.card-caption {


}

.card-content {
  font-size: 0.70em;
  flex-grow: 1;
  color: darkseagreen;


}

.card-buttons {


}
