.navbutton1 {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}
