<div class="edit-transaction">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <form (ngSubmit)="onSubmit()" #transactionForm="ngForm" class="edit-transaction-pane">
    <div class="m-1">
      <div *ngIf="transactionType">
        <h6><b>{{operation}} {{transactionType.name}}</b></h6>
        <mat-form-field class="normal-width">
          <input matInput [matDatepicker]="picker" required placeholder="{{transactionType.dateLabel}}"
            [(ngModel)]="transaction.date" name="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-form-field class="normal-width">
          <mat-select placeholder="{{transactionType.debitAccountLabel}}" name="debitAccount"
            [(ngModel)]="transaction.account" [compareWith]="compareAccounts">
            <mat-option *ngFor="let debitableAccount of transactionType.debitableAccounts" [value]="debitableAccount">
              {{debitableAccount.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field class="normal-width">
          <input matInput placeholder="{{transactionType.amountLabel}}" required [formControl]="amount">
          <mat-error *ngIf="amount.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="normal-width">
          <mat-select placeholder="{{transactionType.creditAccountLabel}}" name="participatingAccount"
            [(ngModel)]="transaction.participatingAccount" [compareWith]="compareAccounts">
            <mat-option *ngFor="let creditableAccount of transactionType.creditableAccounts"
              [value]="creditableAccount">
              {{creditableAccount.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field class="normal-width">
          <textarea matInput placeholder="{{transactionType.descriptionLabel}}" required name="text"
            [(ngModel)]="transaction.text"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="edit-transaction-footer">
    <button role="button" class="btn btn-success btn-sm" (click)="goBack()">Cancel</button>
    <button role="button" class="ml-1 btn btn-danger btn-sm" (click)="saveTransaction()"
      [disabled]="!transactionForm.form.valid">Submit</button>
  </div>
</div>