<div>
  <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
        class="fas fa-home fa-lg"></i></span></button>
</div>
<div class="organize-tiles-container">

  <a (click)="viewCategories()">
    <div class="card organize-tile">
      <div class="card-header tile-header">Categories</div>
      <div class="card-body" style="margin: 3px">
        <div style="text-align:center; color: green">
          <h1 class="card-title">8</h1>
        </div>
        <p class="organize-tile-description">Create and maintain categories and accounts belonging to the respective
          categories.</p>
      </div>
    </div>
  </a>

  <a (click)="viewTransactionTypes()">
    <div class="card organize-tile">
      <div class="card-header tile-header">Transaction Types</div>
      <div class="card-body" style="margin: 3px">
        <div style="text-align:center; color: indianred">
          <h1 class="card-title">15</h1>
        </div>
        <p class="organize-tile-description">Define and configure transaction types, based on the categories and
          accounts.</p>
      </div>
    </div>
  </a>
  <div class="card organize-tile">
    <div class="card-header tile-header">Statement Profiles</div>
    <div class="card-body" style="margin: 3px">
      <h6 class="card-title">Manage Profiles</h6>
      <p class="organize-tile-description">Configure metadata and rules to process transactions by statements or with
        direct connection.</p>
    </div>
  </div>
  <div class="card organize-tile">
    <div class="card-header tile-header">Configuration</div>
    <div class="card-body" style="margin: 3px">
      <h6 class="card-title">Application Configuration</h6>
      <p class="organize-tile-description">Maintain general application settings like currencies, languages, country
        etc.</p>
    </div>
  </div>
</div>