.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

/*Small Devices*/
@media all and (max-width: 750px) {
  .organize-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .organize-tile-body  {
    background-color: rgb(52, 73, 94);
  }    

  .organize-tile-kpi  {
    font-size: 3rem;
  }  
  .organize-tile  {
    width: 48vw;
    height: 48vw;
    margin: 1px;
    background-color: rgb(52, 73, 94);
    color: white;
    cursor: pointer;
  }   

  .organize-tile-caption {
    
  }

  .organize-tile-description  {
    font-size: 0.7em;
    color: rgb(249, 180, 45);;
  }    
}

@media all and (min-width: 750px) {
  /*Big Devices*/
  .organize-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

  .organize-tile-body  {
    background-color: rgb(52, 73, 94);
  }    

  .organize-tile-kpi  {
    font-size: 3rem;
  }    
  
  .organize-tile  {
    width: 13vw;
    height: 13vw;
    margin: 1px;
    padding: 4px;
    background-color: rgb(52, 73, 94);
    color: white;
    cursor: pointer;
  }   

  .organize-tile-caption {
    
  }  

  .organize-tile-description  {
    font-size: 0.70em;
    color: rgb(249, 180, 45);;
  }    
}

.tile-header  {
  font-size: 0.80em;
  font-weight: bold;
}

.organize-tile:hover  {
  background-color: rgb(108, 122, 137);
  cursor: pointer;
}




