.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

/*Small Devices*/
@media all and (max-width: 750px) {
  .organize-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .organize-tile  {
    width: 48vw;
    height: 48vw;
    margin: 1px;
  } 

  .organize-tile-description  {
    font-size: 0.7em;
    color: dimgrey;
  }    
}

@media all and (min-width: 750px) {
  /*Big Devices*/
  .organize-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .organize-tile  {
    width: 15rem;
    height: 15rem;
    margin: 1px;
  }  

  .organize-tile-description  {
    font-size: 0.85em;
    color: dimgrey;
  }    
}

.tile-header  {
  font-size: 0.80em;
  font-weight: bold;
}

.organize-tile:hover  {
  background-color: powderblue;
  cursor: pointer;
}




