<div class="categories">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <div *ngIf="categories" class="categories-pane">
    <h6><b>Categories</b></h6>
    <div class="list-group">
      <a *ngFor="let category of categories" routerLink="/category-detail/{{category.id}}"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{category.name}}</h5>
          <!--<small>{{category.id}}</small>-->
          <span class="badge badge-primary badge-pill">{{category.id}}</span>
        </div>
        <small>{{category.description}}</small>
      </a>
    </div>
  </div>

  <div class="categories-footer">
    <button role="button" class="btn btn-success btn-sm" (click)="addCategory()">New Category</button>
  </div>
</div>