<div class="categories">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <div *ngIf="categories" class="categories-pane">
    <h6><b>Categories</b></h6>

    <div class="multi-action-cards">
      <div class="multi-action-card" *ngFor="let category of categories">
        <div class="multi-action-card-caption">{{category.id}} - {{category.name}}</div>
        <div class="multi-action-card-content">
          <p>{{category.description}}</p>
        </div>
        <div class="multi-action-card-buttons">
          <div>
            <button role="button" class="btn btn-default multi-action-card-button-circle" (click)="editCategory(category)"><i class="fa fa-edit fa-lg"></i></button>
            <button role="button" class="btn btn-default multi-action-card-button-circle ml-1" (click)="deleteCategory(category)"><i class="fa fa-trash fa-lg"></i></button>
            <button role="button" class="btn btn-default multi-action-card-button-rectangle ml-1" (click)="showAccounts(category)">Show Accounts</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="categories-footer">
    <button role="button" class="btn btn-default btn-circle" (click)="addCategory()"><i class="fa fa-plus"></i></button>
  </div>
</div>