.navbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.categories {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: inherit;
  align-self: stretch;
}

.categories-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.categories-footer {
  background-color: silver;
  padding: 3px;
}
