<div class="report-view">

  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <div class="report-view-pane">
    <p class="caption">{{reportData.caption}}</p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="xCoordinate">
        <th mat-header-cell *matHeaderCellDef> {{columnHeaders[0]}} </th>
        <td mat-cell *matCellDef="let element"> {{element.xCoordinate}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="yCoordinate">
        <th class="text-right" mat-header-cell *matHeaderCellDef> {{columnHeaders[1]}} </th>
        <td class="text-right" mat-cell *matCellDef="let element"> {{element.yCoordinate | currency:'EUR'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="footer">
    <button role="button" class="btn btn-default btn-circle" (click)="exportPDF()"><i class="fas fa-file-pdf fa-lg"></i></button>
  </div>
</div>