<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i class="fas fa-arrow-left fa-lg"></i></span></button>
      <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i class="fas fa-home fa-lg"></i></span></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6><b>Transaction Types</b></h6>
    </div>
    <div class="col">
      <button role="button" class="btn btn-success mb-1 float-right" (click)="addTransactionType()"><span><i class="fas fa-plus"></i></span> New</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngIf="transactionTypes">
        <div class="list-group">
          <a *ngFor="let transactionType of transactionTypes" routerLink="" class="list-group-item list-group-item-action">
            {{transactionType.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
