<div class="transaction-types-container">
  <div>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i
          class="fas fa-arrow-left fa-lg"></i></span></button>
    <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i
          class="fas fa-home fa-lg"></i></span></button>
  </div>

  <div *ngIf="transactionTypes" class="transaction-types-pane">
    <h6><b>Transaction Types</b></h6>
    <div class="list-group">
      <a *ngFor="let transactionType of transactionTypes" routerLink="/edit-transaction-type/{{transactionType.id}}"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{transactionType.name}}</h5>
          <!--<small>{{category.id}}</small>-->
        </div>
        <small>{{transactionType.description}}</small>
      </a>
    </div>
  </div>

  <div class="container-footer">
    <button role="button" class="btn btn-default btn-circle" (click)="addTransactionType()"><i
        class="fa fa-plus"></i></button>
  </div>
</div>