<div>
  <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goBack()"><span><i class="fas fa-arrow-left fa-lg"></i></span></button>
  <button role="button" class="btn btn-secondary btn-sm navbutton" (click)="goHome()"><span><i class="fas fa-home fa-lg"></i></span></button>
</div>

<div *ngIf="transactionType">
    <h6><b>{{operation}} {{transactionType.name}}</b></h6>
    <form (ngSubmit)="onSubmit()" #transactionTypeForm="ngForm">

      <div class="container float-left">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="font-weight-bold" for="name">Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="transactionType.name" name="name" #name="ngModel">
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="font-weight-bold" for="description">Description</label>
              <input type="text" class="form-control" id="description" required [(ngModel)]="transactionType.description" name="description" #description="ngModel">
              <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Description is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card bg-light mb-3">
              <div class="card-header">UI Labels</div>
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="font-weight-bold" for="name">Date</label>
                        <input type="text" class="form-control" id="dateLabel" required [(ngModel)]="transactionType.dateLabel" name="dateLabel" #dateLabel="ngModel">
                        <div [hidden]="dateLabel.valid || dateLabel.pristine" class="alert alert-danger">Label for Date is required</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="font-weight-bold" for="name">Amount</label>
                        <input type="text" class="form-control" id="amountLabel" required [(ngModel)]="transactionType.amountLabel" name="amountLabel" #amountLabel="ngModel">
                        <div [hidden]="amountLabel.valid || amountLabel.pristine" class="alert alert-danger">Label for Amount is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="font-weight-bold" for="name">Description</label>
                        <input type="text" class="form-control" id="descriptionLabel" required [(ngModel)]="transactionType.descriptionLabel" name="descriptionLabel" #descriptionLabel="ngModel">
                        <div [hidden]="descriptionLabel.valid || descriptionLabel.pristine" class="alert alert-danger">Label for Description is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button role="button" class="btn btn-success" (click)="goBack()">Cancel</button>
            <button role="button" class="btn btn-danger" (click)="saveTransactionType()" [disabled]="!transactionTypeForm.form.valid">Submit</button>
          </div>
        </div>
      </div>
    </form>
</div>
